__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
.env
*.env
*.log
*.sqlite3
media/
staticfiles/
.docker/
*.DS_Store
*.egg-info/
*.swp
node_modules/
venv/
.envrc

# Ignore Docker volumes & runtime data
data/

